body{
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('Assets/image-header.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family:"DM Sans", sans-serif;

    nav{
        padding: 50px;

        li{
            padding-right: 30px;
            display: inline-block;
        }

        ul{  
            float: right;
        }

        a{
            color: white;
            text-decoration: none;
            font-family: "Poppins", sans-serif;
            font-weight: 18px;
            font-style: Regular;
        }
    }
}

 
.section-hero{
    text-align: center;
    
    color: white;
    margin: auto;
        width:600xpx;
        margin-top: 14vh;


    div{
        

        h1{
            font-size: 160px;
            font-weight: regular;

            span{
                display: block;
                font-style: medium;
                font-size: 53px;
            }
            
        }
        
        h2{
            font-size: 28px;
            font-weight: bold;
        }

        .btn {
            color: white;
            background-color: black;
        }

    }

}